body{
    margin: 0%;
}

.navbar-brand {
    margin: 0% 6% 0% 1%;
    font-size: 2em;
}

.nav-items {
    margin: 0% 0% 0% 55%;
}

.nav-item {
    padding: 0px 10px 0px 10px;
    font-size: 1.3em;
}

header{
    background-color: gray;
}




/*Section 01**/

#section1{
    background-color: #064acb;
    height: 100%;
}

.heading1 {
    text-align: center;
    margin: 0% 10% 0% 10%;
    padding-top: 3%;
    color: aliceblue;
    font-size: 3em;
    
    
}

.sec1-h2{
    text-align: center;
    margin: auto;
    padding: 1% 1% 10% 1%;
    color: aliceblue;
    font-size: 1.5em;
    max-width: 55%;
}

.sec1-imgdiv{
    text-align: center;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 2%;
}

.sec1-img{
    padding: 1%;
}


/*******media quaries*************/

@media (max-width:990px) {
    .nav-items {
        margin: 0% 0% 0% 0%;
        
    }
}